
<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3 class="footer-brand">NYRAH</h3>
      <p class="footer-tagline">Little styles, Big smiles</p>
    </div>
    <div class="footer-section">
      <h4 class="footer-title">Contact Us</h4>
      <p>Calicut, Kerala</p>
      <p>Mob: 9745046601</p>
      <p>Email: Nyrah@gmail.com</p>
    </div>
    <div class="footer-section">
      <h4 class="footer-title">Policies</h4>
      <p>Privacy Policy</p>
      <p>Terms and Conditions</p>
      <p>Cookie Policy</p>
    </div>
    <div class="footer-section">
      <h4 class="footer-title">Branches</h4>
      <p>Calicut</p>
      <p>Kochi</p>
      <p>Bangalore</p>
    </div>
    <div class="footer-section">
      <h4 class="footer-title">Connect with us</h4>
      <div class="social-icons">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2025 NYRAH | All Rights Reserved</p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
