<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reset Password</title>
<link rel="stylesheet" href="/admin/AresetOtp.css">

</head>

<body>

<div class="container">
    <div class="left-section">
        <h2>Reset Password</h2>

        <% if (error) { %>
          <p style="color:red; margin-bottom:10px;"><%= error %></p>
        <% } %>

        <form action="/admin/reset-password" method="POST">

            <label>New Password</label>
            <input type="password" name="password" placeholder="Enter new password" required>

            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" placeholder="Confirm new password" required>

            <button class="btn" type="submit">Reset Password</button>
        </form>

        <div class="back">
            <a href="/admin/login">Go back to login</a>
        </div>
    </div>

    <div class="right-section">
        <img src="/images/ima.webp" alt="">
    </div>
</div>

</body>
</html>
