<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Verify OTP</title>
<link rel="stylesheet" href="/admin/adminOtp.css">
</head>

<body>

<div class="container">
    <div class="left-section">
        <h2>Enter OTP</h2>

        <% if (error) { %>
          <p style="color:red; margin-bottom:10px;"><%= error %></p>
        <% } %>

        <% if (success) { %>
          <p style="color:green; margin-bottom:10px;"><%= success %></p>
        <% } %>

        <form action="/admin/verify-otp" method="POST">
            <label>Enter OTP sent to your email</label>
            <input type="number" name="otp" placeholder="Enter 6-digit OTP" required>
            <button class="btn" type="submit">Verify OTP</button>
        </form>

        <div class="back">
            <a href="/admin/forgot-password">Go back</a>
        </div>
    </div>

    <div class="right-section">
        <img src="/images/smile.webp" alt="">
    </div>
</div>

</body>
</html>
