<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NYRAH Login</title>
<link rel="stylesheet" href="/admin/adminLogin.css">
</head>
<body>

<div class="login-container">
    <div class="login-box">
        <h1 class="brand">NYRAH</h1>
        <p class="tagline">Little styles, Big smiles</p>

        <% if (message) { %>
            <p style="color:red; text-align:center;"><%= message %></p>
        <% } %>

 
        <form action="/admin/login" method="POST">
            
            <div class="input-group">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="Enter Email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <div class="password-wrapper">
                    <input type="password" name="password" placeholder="Enter Password" required>
                  
                </div>
            </div>

           <div class="forgot">
    <a href="/admin/forgot-password">Forgot Password?</a>
</div>

            <button type="submit" class="login-btn">Login</button>
        </form>

    </div>
</div>
<script>
  if (window.history && window.history.pushState) {
    window.history.pushState(null, null, window.location.href);
    window.onpopstate = function () {
      window.location.replace('/admin/login');
    };
  }
</script>
</body>
</html>