<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
   <link rel="stylesheet" href="/admin/error.css">
</head>
<body>
    <div class="box">
        <h1>Something Went Wrong</h1>
        <p>Please try again later.</p>
        <a href="/admin/">Go Back to Dashboard</a>
    </div>
</body>
</html>
