
body{
  background:#e6c6c6;
}

/* SIDEBAR */
.filter-sidebar{
  background:transparent;
  font-size:14px;
}

.filter-sidebar select{
  border:none;
  border-bottom:1px solid #aaa;
  border-radius:0;
  background:transparent;
}

/* PRODUCT CARD */
.product-card{
  background:#f8eaea;
  border-radius:20px;
  overflow:hidden;
  transition:0.3s ease;
  position:relative;
}

.product-card:hover{
  transform:translateY(-5px);
}

.product-card.blocked{
  opacity:0.6;
}

/* IMAGE */
.img-box{
  position:relative;
}

.img-box img{
  width:100%;
  height:260px;
  object-fit:cover;
  border-radius:20px;
}

/* BADGES */
.status-badge{
  position:absolute;
  top:10px;
  left:10px;
  padding:5px 10px;
  font-size:12px;
  font-weight:600;
  border-radius:5px;
  z-index:10;
  color:white;
}

.bg-danger{
  background:#dc3545;
}

.bg-warning{
  background:#ffc107;
  color:black;
}

/* WISHLIST */
.wishlist-btn{
  position:absolute;
  top:10px;
  right:10px;
  background:white;
  border-radius:50%;
  padding:4px 7px;
  z-index:10;
}
.wishlist-btn i{
font-size:20px;
color:#444;
cursor:pointer;
transition:0.3s;
}

.wishlist-btn.active i{
color:red;
}
.price-box{
  font-weight:bold;
}

.old-price{
  text-decoration:line-through;
  color:grey;
  margin-left:5px;
  font-size:14px;
}

.offer-label{
  color:red;
  font-size:13px;
  font-weight:600;
}
