
body {
  background: #f8d2d7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 80px;
}
.navbar {
  background: #f8d2d7;
  padding: 20px 40px;
}
.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  color: #c8343c !important;
}

.filter-box {
  position: sticky;
  top: 120px; /* adjust based on fixed navbar height */
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.filter-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
}

.filter-item:hover {
  color: #d9534f;
}

.product-card {
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 14px rgba(0,0,0,0.18);
}

.product-card img {
    width: 100%;
    height: 250px; /* fixed height for all images */
    border-radius: 10px;
    object-fit: cover; /* crop & cover the area without stretching */
    transition: transform 0.3s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}
.btn-filter {
  background: white;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  margin-right: 10px;
}
.btn-filter.active {
  background: #e15462;
  color: white;
  border: none;
}
.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  border: none;
  background: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 600;
  color: #d14d4d;
  transition: 0.3s;
}

.pagination .page-item.active .page-link {
  background: #d14d4d;
  color: #fff;
}

.pagination .page-link:hover {
  background: #f8d3d3;
  color: #000;
}

.footer {
  background: #f6c8cd;
  padding: 40px;
  margin-top: 40px;
}
.footer-title {
  font-size: 26px;
  font-weight: 700;
  color: #c8343c;
}
.footer-section h6 {
  font-weight: bold;
}
.footer a {
  text-decoration: none;
  color: #000;
}

