* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f8c9b1;
    padding: 20px;
}

/* MAIN CONTAINER */
.outer-box {
background: white;
    padding: 40px;
    border-radius: 15px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* LAYOUT */
.login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

/* LEFT SIDE */
.left-box {
    flex: 1;
}
.success-message {
    color: green;
    text-align: center;
    margin-bottom: 60px;
    padding:12px;
    font-weight: 600;

}


.logo {
     font-size: 34px;
    font-weight: 700;
    color: #8b0000;
    margin-bottom: 70px;
    text-align: center;   
    width: 100%;  
    margin-top: -10px;
}


.google-btn {
    width: 90%;
    margin: 0 auto;
    padding: 12px 20px;
    background: #f6f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;     
    justify-content: center;
    gap: 10px;               
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.google-btn img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    display: block;
}


.or {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.input,
.login-btn {
    width: 90%;
    margin: 10px auto;
    padding: 12px;
    border-radius: 6px;
    display: block;
}

.input {
    border: 1px solid #ccc;
}

.forgot {
    width: 90%;
    margin: 0 auto 10px auto;
    font-size: 13px;
    text-align: right;
}

.login-btn {
    background: #8b0000;
    border: none;
    color: white;
    cursor: pointer;
}

.bottom-link {
    width: 90%;
    margin: 15px auto;
    text-align: center;
}

/* RIGHT SIDE IMAGE */
.right-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-box img {
    width: 100%;
    height: 100%;
    max-height: 650px;
    border-radius: 10px;
    object-fit: cover;
}
.custom-alert {
    color: #b30000;           
    background-color: #ffcccc; 
    padding: 10px;
    border-radius: 6px;
    width: 70%;
    text-align: center;
    margin-left: 50px;
}

/* TABLET VIEW */
@media (max-width: 900px) {
    .login-container {
        flex-direction: column;
        text-align: center;
    }

    .right-box img {
        height: 300px;
        width: 90%;
        margin: 0 auto;
    }
}

/* MOBILE VIEW */
@media (max-width: 600px) {

    .outer-box {
        padding: 20px;
    }

    .logo {
        font-size: 26px;
    }

    .right-box img {
        display: none; /* Hide image in mobile */
    }

    .google-btn,
    .input,
    .login-btn {
        width: 100%;
    }
}