<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us - NYRAH</title>
<link rel="stylesheet" href="/user/about.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">NYRAH</div>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/">Collections</a></li>
        <li><a href="/">All product</a></li>
    </ul>
    <button class="btn"><a href="/signup"style="color:#fff;text-decoration:none;"> Signup</a></button>
</nav>

<section class="about-container">
    <img src="/images/about.jpg" alt="Our Story">
    <div class="about-text">
        <h2>Our Story</h2>
        <p>Welcome to our little world of joy! A simple dream to bring smiles to every little girl with beautiful, comfortable, and stylish clothes. We believe every child deserves to feel special, so each dress we offer is made with love, care, and creativity.</p>
    </div>
</section>

<footer>
    <div class="footer-section">
        <h3>NYRAH</h3>
        <p>Little styles, Big smiles</p>
        <p>Calicut, Kerala</p>
        <p>mob: +974560461</p>
        <p>Nyrah@gmail.com</p>
    </div>
    <div class="footer-section">
        <h3>Policies</h3>
        <a href="#">Privacy Policies</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Cookie Policies</a>
    </div>
    <div class="footer-section">
        <h3>Branches</h3>
        <p>Calicut</p>
        <p>Kochi</p>
        <p>Bangalore</p>
    </div>
    <div class="footer-section footer-socials">
        <h3>Connect with us</h3>
        <img src="https://img.icons8.com/color/48/google-logo.png">
                <img src="images/face.png">
                <img src="images/insta.png">
    </div>
    <div class="footer-bottom">
        © 2025 NYRAH | All Rights Reserved
    </div>
</footer>

</body>
</html>
