<%- include("../../views/partials/user/header") %>

<div id="heroSlider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="/images/ima.webp" class="d-block w-100" style="height:680px;object-fit: cover; object-position: top;">
      <div class="hero-text">
        <h1>" Happiness looks good</h1>
        <h1>on every child."</h1>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/images/select.jpg" class="d-block w-100" style="height:680px;object-fit: cover; object-position: top;">
      <div class="hero-text">
        <h1>" Happiness looks good</h1>
        <h1>on every child."</h1>
      </div>
    </div>
<div class="carousel-item">
      <img src="images/sho.webp" class="d-block w-100" style="height:680px;object-fit: cover; object-position: top;">
      <div class="hero-text">
        <h1>" Happiness looks good</h1>
        <h1>on every child."</h1>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#heroSlider" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#heroSlider" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>



<div class="container mt-5">
  <h3 class="text-center mb-4 fw-bold">EXPLORE</h3>

  <div class="row g-4">
    <div class="col-6 col-md-3">
      <div class="category-card">
        <img src="images/party.jpg" class="category-img">
      </div>
      <p class="text-center mt-2">Partywear</p>
    </div>

    <div class="col-6 col-md-3">
      <div class="category-card">
        <img src="images/casu.jpg" class="category-img">
      </div>
      <p class="text-center mt-2">Casual</p>
    </div>

    <div class="col-6 col-md-3">
      <div class="category-card">
        <img src="images/1night.jpg" class="category-img">
      </div>
      <p class="text-center mt-2">Nightwear</p>
    </div>

    <div class="col-6 col-md-3">
      <div class="category-card">
        <img src="images/daily.webp" class="category-img">
      </div>
      <p class="text-center mt-2">Dailywear</p>
    </div>
  </div>
</div>



<div class="container mt-5">
  <h3 class="fw-bold text-center mb-4">NEW COLLECTIONS</h3>

  <div class="row g-4">
    <div class="col-6 col-md-3">
      <div class="card product-card">
        <img src="images/1.avif" class="card-img-top">
        <div class="card-body">
          <h6>Yellow Frock</h6>
          <p>₹ 1,450</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="card product-card">
        <img src="images/2.webp" class="card-img-top">
        <div class="card-body">
          <h6>White Dress</h6>
          <p>₹ 1,350</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="card product-card">
        <img src="images/3.webp" class="card-img-top">
        <div class="card-body">
          <h6>Pink Dress</h6>
          <p>₹ 850</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="card product-card">
        <img src="images/4.webp" class="card-img-top">
        <div class="card-body">
          <h6>Denim Set</h6>
          <p>₹ 900</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="middle">
  <img src="/images/top.webp">
</div>
<div class="container mt-5">
  <div class="row g-4">
    <div class="col-6 col-md-3">
      <div class="card product-card">
        <img src="images/kiddo1.avif" class="card-img-top">
        <div class="card-body">
          <h6>White Frock</h6>
          <p>₹ 1,450</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="card product-card">
        <img src="images/top1.avif" class="card-img-top">
        <div class="card-body">
          <h6>Cap</h6>
          <p>₹ 350</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="card product-card">
        <img src="/images/li2.avif" class="card-img-top">
        <div class="card-body">
          <h6>Blue Dress</h6>
          <p>₹ 850</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="card product-card">
        <img src="images/jen1.avif" class="card-img-top">
        <div class="card-body">
          <h6>Jean</h6>
          <p>₹ 900</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<%- include("../../views/partials/user/footer") %>

