<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/user/signup.css" />
    <title>NYRAH Signup</title>
</head>

<body>

<div class="container">

    <form id="signupform"method="post"action="/signup" >

    <div class="right-side">
        
        <div class="form-box">
            <h2>Create Account</h2>
            <p>Username</p>
            <input type="text"class="form-control"name="name"id="name" placeholder="Username"><p>Email id</p>
            <div id="error1"class="error-message"></div>
            <input type="email"class="form-control"name="email"id="email" placeholder="Email ID"><p>Mobile Number</p>
            <div id="error2"class="error-message"></div>
            <input type="number"class="form-control"name="phone"id="phone" placeholder="Mobile Number"><p>Password</p>
            <div id="error3"class="error-message"></div>
            
            <input type="password"class="form-control"name="password"id="password" placeholder="Password"><p>Confirm password</p>
            <div id="error4"class="error-message"></div>
            <input type="password"class="form-control"name="cPassword"id="cPassword" placeholder="Confirm Password">
               <div id="error5"class="error-message"></div>
               <% if (locals.message && message.length > 0) { %>
              <div class="custom-alert">
            <%= message %>
               </div>
              <% } %>
            <div class="policy">
                <input type="checkbox">
                <label>I agree to all terms and Privacy Policy</label>
            </div>

            <button type="submit" class="signup-btn">Sign up</button>

            <p class="login-text">Already have an account? <a href="/signin"style="color:purple;">Log-in</a></p>

            <div class="social-icons">
                <img src="https://img.icons8.com/color/48/google-logo.png">
                <img src="images/face.png">
                <img src="images/insta.png">
            </div>
        </div>
       
    </div>
</form>
</div>

</body>
<script>
    const nameId=document.getElementById("name");
    const emailId=document.getElementById('email');
    const phoneId=document.getElementById('phone')
    const password=document.getElementById('password');
    const cPassword=document.getElementById('cPassword');
    const error1=document.getElementById('error1')
     const error2=document.getElementById('error2');
      const error3=document.getElementById('error3');
       const error4=document.getElementById('error4')
        const error5=document.getElementById('error5')
        const signupform=document.getElementById("signupform")

       function nameValidateChecking(e){
         const nameval=nameId.value;
         const namep = /^[A-Za-z]+$/;

         if(nameval.trim()===''){
            error1.style.display='block';
            error1.innerHTML='Please Enter Valid Name'
         }else if(!namep.test(nameval)){
             error1.style.display='block';
            error1.innerHTML='Please Enter alphabets and spaces '
         }else{
             error1.style.display='none';
            error1.innerHTML='';
         }

       }
             function emailValidateChecking(e){
         const emailval=emailId.value;
         const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

          if(!emailPattern.test(emailval)){
             error2.style.display='block';
            error2.innerHTML='Please Enter Valid emailid'
         }else{
             error2.style.display='none';
            error2.innerHTML='';
         }
        }
       function phoneValidateChecking(e){
         const phoneval=phoneId.value;
        
          if(!phoneval.trim()===''){
             error3.style.display='block';
            error3.innerHTML='Please Enter Valid phone number'
         }else if(phoneval.length<10||phoneval.length>10){
             error3.style.display='block';
            error3.innerHTML='Enter 10 digit';
         }else{
           error3.style.display='none';
           error3.innerHTML=''
         }
        }
               function passwordValidateChecking(e){
         const passval=password.value;
         const cpassval=cPassword.value;
         const  alpha=/[a-zA-Z]/
         const digit=/\d/
         if(passval.length<8){
            error4.style.display='block'
            error4.innerHTML='Minimum 8 charecters'
         }

          else if(!alpha.test(passval)||!digit.test(passval)){
             error4.style.display='block';
            error4.innerHTML='Should contain numbers and alphabets'
         }else{
             error4.style.display='none';
            error4.innerHTML='';
         }
         if(passval!==cpassval){
            error5.style.display='block';
            error5.innerHTML='Password dont match'
         }else{
            error5.style.display='none';
            error5.innerHTML=''
         }
        }
        

     document.addEventListener('DOMContentLoaded',function(){
        signupform.addEventListener('submit',function(e){
           nameValidateChecking()
           emailValidateChecking()
           phoneValidateChecking()
           passwordValidateChecking()
          
           if(error1.innerHTML||error2.innerHTML||error3.innerHTML||error4.innerHTML||error5.innerHTML){
            e.preventDefault()
           }
                })
     })
</script>
</html>
