

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #ffe1e8;
  --color-primary-dark: #ffb6c1;
  --color-accent: #e53e5d;
  --color-accent-hover: #c92f4c;
  --color-text-dark: #1f2937;
  --color-bg-light: #fff0f3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background-color: var(--color-bg-light);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.login-box {
    background:transparent;
    backdrop-filter: blur(10px);
    padding: 40px 35px;
    border-radius: 20px;
    max-width: 450px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}
.brand {
    font-size: 2.2rem;
    font-family: 'Fredoka', cursive;
    font-weight: 700;
    color: var(--color-accent);
}
.tagline {
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #444;
}
.input-group {
    text-align: left;
    margin-bottom: 15px;
}
.input-group label {
    font-size: 14px;
    color: #333;
}
.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #999;
    border-radius: 8px;
    margin-top: 5px;
    outline: none;
    font-size: 15px;
}
.password-wrapper {
    display: flex;
    align-items: center;
}
.password-wrapper input {
    flex: 1;
}
.eye {
    margin-left: -30px;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}
.forgot {
    text-align: right;
    margin-bottom: 20px;
}
.forgot a {
    color: #333;
    text-decoration: none;
    font-size: 13px;
}
.forgot a:hover {
    text-decoration: underline;
}
.login-btn {
    width: 100%;
    padding: 12px;
    background: var(--color-accent);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: var(--color-accent-hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(229, 62, 93, 0.4);
}
@media (max-width: 480px) {
    .login-box {
        padding: 25px 20px;
    }

    .brand {
        font-size: 1.7rem;
    }
}
