
     
        <div class="main-profile-btn" id="profileBtn">
            <img src="/images/ima.webp" alt="Admin" class="profile-img">
            <span class="profile-name">Admin</span>

            <div class="profile-menu" id="profileMenu">
                <a href="#">Profile</a>
                <a href="/admin/logout">Logout</a>
            </div>
        </div>
 