<aside class="sidebar">
    <h1 class="brand">NYRAH</h1>
    <ul class="menu">

        <li><a href="/admin"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
        <li><a href="/admin/order"><i class="bi bi-bag"></i> Order</a></li>
        <li><a href="/admin/products"><i class="bi bi-box-seam"></i> Products</a></li>
        <li><a href="/admin/brand"><i class="bi bi-shield-check"></i> Brand</a></li>
        <li><a href="/admin/sales-report"><i class="bi bi-graph-up"></i> Sales report</a></li>
        <li><a href="/admin/customers"><i class="bi bi-people"></i> Customers</a></li>
        <li><a href="/admin/category"><i class="bi bi-tags"></i> Category</a></li>
        <li><a href="/admin/coupon"><i class="bi bi-percent"></i> Coupon</a></li>
        <li><a href="/admin/refund"><i class="bi bi-arrow-repeat"></i> Refund</a></li>
        <li><a href="/admin/banners"><i class="bi bi-image"></i> Banners</a></li>
        <li><a href="/admin/logout"><i class="bi bi-box-arrow-right"></i> Sign Out</a></li>

    </ul>
</aside>
